@import "tailwindcss";

@import "tw-animate-css";

@theme inline {
  /* Primary */
  --color-ds-primary-100: var(--ds-orange-100);
  --color-ds-primary-200: var(--ds-orange-200);
  --color-ds-primary-300: var(--ds-orange-300);
  --color-ds-primary-500: var(--ds-orange-500);
  --color-ds-primary-600: var(--ds-orange-600);
  --color-ds-primary-800: var(--ds-orange-800);
  --color-ds-primary-main: var(--ds-orange-500);

  /* Orange */
  --color-ds-orange-100: var(--ds-orange-100);
  --color-ds-orange-200: var(--ds-orange-200);
  --color-ds-orange-300: var(--ds-orange-300);
  --color-ds-orange-500: var(--ds-orange-500);
  --color-ds-orange-600: var(--ds-orange-600);
  --color-ds-orange-800: var(--ds-orange-800);
  --color-ds-orange-gradient-start: var(--ds-orange-gradient-start);
  --color-ds-orange-gradient-end: var(--ds-orange-gradient-end);
  --color-ds-orange-main: var(--ds-orange-500);

  /* Blue */
  --color-ds-blue-100: var(--ds-blue-100);
  --color-ds-blue-200: var(--ds-blue-200);
  --color-ds-blue-300: var(--ds-blue-300);
  --color-ds-blue-500: var(--ds-blue-500);
  --color-ds-blue-600: var(--ds-blue-600);
  --color-ds-blue-800: var(--ds-blue-800);
  --color-ds-blue-main: var(--ds-blue-500);

  /* Neutrals */
  --color-ds-black: var(--ds-black);
  --color-ds-grey-100: var(--ds-grey-100);
  --color-ds-grey-200: var(--ds-grey-200);
  --color-ds-grey-300: var(--ds-grey-300);
  --color-ds-grey-400: var(--ds-grey-400);
  --color-ds-white: var(--ds-white);

  /* Red (Error) */
  --color-ds-red-100: var(--ds-red-100);
  --color-ds-red-200: var(--ds-red-200);
  --color-ds-red-300: var(--ds-red-300);
  --color-ds-red-400: var(--ds-red-400);
  --color-ds-red-main: var(--ds-red-400);

  /* Yellow (Warning) */
  --color-ds-yellow-100: var(--ds-yellow-100);
  --color-ds-yellow-200: var(--ds-yellow-200);
  --color-ds-yellow-300: var(--ds-yellow-300);
  --color-ds-yellow-400: var(--ds-yellow-400);
  --color-ds-yellow-main: var(--ds-yellow-400);

  /* Green (Success) */
  --color-ds-green-100: var(--ds-green-100);
  --color-ds-green-200: var(--ds-green-200);
  --color-ds-green-300: var(--ds-green-300);
  --color-ds-green-400: var(--ds-green-400);
  --color-ds-green-main: var(--ds-green-400);
}

:root {
  /* Orange */
  --ds-orange-100: #fdf0e8;
  --ds-orange-200: #f8d1b6;
  --ds-orange-300: #f19b62;
  --ds-orange-500: #f27521; /* Base */
  --ds-orange-600: #dc660f;
  --ds-orange-800: #a74805;
  --ds-orange-gradient-start: #f27521;
  --ds-orange-gradient-end: #f19b62;

  /* Blue */
  --ds-blue-100: #e9f2ff;
  --ds-blue-200: #bad8fd;
  --ds-blue-300: #69aafc;
  --ds-blue-500: #1f80fa; /* Base */
  --ds-blue-600: #1665c1;
  --ds-blue-800: #0b3e77;

  /* Neutrals */
  --ds-black: #383838; /* Primary Text */
  --ds-grey-400: #868686;
  --ds-grey-300: #aeaeae;
  --ds-grey-200: #d9d9d9;
  --ds-grey-100: #f3f3f3;
  --ds-white: #ffffff;

  /* Red (Error) */
  --ds-red-100: #feebed;
  --ds-red-200: #fdc0c6;
  --ds-red-300: #fa7783;
  --ds-red-400: #f83446; /* Main */

  /* Yellow (Warning) */
  --ds-yellow-100: #fff9e6;
  --ds-yellow-200: #ffeeb0;
  --ds-yellow-300: #ffd954;
  --ds-yellow-400: #ffc700; /* Main */

  /* Green (Success) */
  --ds-green-100: #e6f5ee;
  --ds-green-200: #b0e0c9;
  --ds-green-300: #54bb8a;
  --ds-green-400: #009a51; /* Main */
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}